:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --fundo:#000 ;
  --borda_e_detalhes:#223445;
  --titulo:#fff;
  --especial:#23d8fc;
}

.logo_contente_txt{
  margin: 0 auto;
  max-width: 1280px;
  align-items: center;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  filter: drop-shadow(0 0 2em #16f4d0);
  transition: filter 900ms;
  animation: flutuar 3s ease-in-out infinite;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #61dafbaa);
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px); /* Move para cima */
  }
}




h2{
  font-size: 30px;
  color: var(--titulo);
}

h1{
   color: var(--titulo);
   font-size: 40px;
}

.react_sectiom{
  margin-top: 20%;
}

.card {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 4%;
  margin-top: 5%;
  align-items: center;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.terminal_img{
  width: 35%;
  border-radius: 5px;
}
.txt_apresentando{
  margin: 30px;
  width: 43%;
  border:4px solid var(--borda_e_detalhes) ;
  border-radius: 5px;
  transition: 1s;
}

.txt_apresentando:hover{
  margin-top: -10px;
  border:4px solid var(--especial);
  box-shadow: 2px 2px 8px var(--especial);
}

.txt_apresentando p:hover{
    color: var(--titulo);
}

.txt_apresentando div{
  padding: 20px;
}

.Como_usar{
  background-color: var(--borda_e_detalhes);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: left;
  margin-top: 15%;
  width: 100%;
}

.Como_usar div{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 20px;
  padding: 10px;
  width: 60%;
}

.Como_usar p{
  color: var(--titulo);
}
.card_passos{
  display: flex;
  justify-content: left;
}

.card_passos_1{
  display: flex;
  justify-content: left; 
  background-color: #c8d8db;
}

.card_passos h3{
  display: flex;
  justify-content: left;
}
